{% extends 'base.html' %}
{% block content %}
    {% if messages %}
        {% for i in messages %}
            {{ i }}
        {% endfor %}
    {% endif %}
    {% if spots %}
    <table border="1">
        <tr>
            <th>S.No</th>
            <th>Lot Id</th>
            <th>Spot Id</th>            
            <th>Location</th>
            <th>Pincode</th>
            <th>Address</th>
            <th>Type</th>
            <th>Price</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        {% for i in spots %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ lot.lot_id }}</td>
                <td>{{ i.spot_id }}</td>
                <td>{{ i.location }}</td>
                <td>{{ lot.pincode }}</td> 
                <td>{{ i.address }}</td>
                <td>{{ i.type }}</td>
                <td>{{ i.price }}</td>
                <td>{{ i.status }}</td>
                <td>
                    {% if i.status == 'A' %}
                        <a href="{% url 'del_spot' lot_id=lot.lot_id spot_id=i.spot_id %}">Delete</a>
                    {% elif i.status == 'O' %}
                        <a href="{% url 'view_spot' lot_id=lot.lot_id spot_id=i.spot_id %}">View</a>
                    {% endif %}
                    | <a href="{% url 'edit_spot' lot_id=lot.lot_id spot_id=i.spot_id %}">Edit</a>
                </td>    
            </tr>
        {% endfor %}
    </table>
    {% endif %}
        <a href="{% url 'add_spot' lot_id=lot.lot_id %}">+Add rental spot </a>
        <br>
        <a href="{% url 'admin_homepage' %}"> Go Back </a>
{% endblock %}